##
# @version		$Id: htaccess.txt 20196 2011-01-09 02:40:25Z ian $
# @package		Joomla
# @copyright	Copyright (C) 2005 - 2011 Open Source Matters. All rights reserved.
# @license		GNU General Public License version 2 or later; see LICENSE.txt
##

##
# READ THIS COMPLETELY IF YOU CHOOSE TO USE THIS FILE!
#
# The line just below this section: 'Options +FollowSymLinks' may cause problems
# with some server configurations.  It is required for use of mod_rewrite, but may already
# be set by your server administrator in a way that dissallows changing it in
# your .htaccess file.  If using it causes your server to error out, comment it out (add # to
# beginning of line), reload your site in your browser and test your sef url's.  If they work,
# it has been set by your server administrator and you do not need it set here.
##

## Can be commented out if causes errors, see notes above.
Options +FollowSymLinks

## Mod_rewrite in use.

RewriteEngine On

# General structure redirects
Redirect 301 /schedule.html http://eddify.me
Redirect 301 /contact-us.html http://eddify.me/contact.html
Redirect 301 /about-us.html http://eddify.me/about.html
Redirect 301 /privacy.html http://eddify.me/terms.html
Redirect 301 /terms-and-conditions.html http://eddify.me/terms.html

# Dupicate content
Redirect 301 /building-sites/creating-a-split-menu-in-joomla.html http://eddify.me/posts/splitting-a-joomla-menu-between-two-modules.html

# News Redirects
Redirect 301 /news/96-protostar-module-positions-in-joomla-3.html http://eddify.me/posts/protostar-module-positions-in-joomla-3.html
Redirect 301 /news/100-embedding-modules-in-your-joomla-articles.html http://eddify.me/posts/using-the-joomla-load-module-plugin.html

Redirect 301 /news/107-joomla-framework-tutorials.html http://eddify.me/categories/joomla-framework.html
Redirect 301 /news/92-component-videos-for-access-control-and-database-design-now-available.html http://eddify.me/categories/videos.html
Redirect 301 /news/89-thanks-to-joomla-tutorials-joomla-beat-podcast-and-open-source-certified.html ***
Redirect 301 /news/85-four-joomla-component-videos-now-available.html http://eddify.me/categories/videos.html
Redirect 301 /news/84-learn-the-art-of-joomla-is-free.html http://eddify.me
Redirect 301 /news/81-new-developer-video-on-using-phing-to-package-extensions.html http://eddify.me/categories/videos.html
Redirect 301 /news/79-christmas-specials-for-joomla-developer-training.html http://eddify.me
Redirect 301 /news/77-new-developer-videos-for-packaging-a-joomla-17-component.html http://eddify.me/categories/videos.html
Redirect 301 /news/74-new-developer-video-and-first-joomla-platform-tutorial.html http://eddify.me/categories/videos.html
Redirect 301 /news/70-new-developer-videos-for-backend-edit-forms-in-joomla-16.html http://eddify.me/categories/videos.html
Redirect 301 /news/64-production-schedule-for-joomla-development-videos-updated.html http://eddify.me/categories/videos.html
Redirect 301 /news/62-new-developer-videos-for-backend-list-views-in-joomla-16.html http://eddify.me/categories/videos.html
Redirect 301 /news/new-database-design-videos-for-joomla-16.html http://eddify.me/categories/videos.html
Redirect 301 /news/welcome-to-the-launch-of-learn-the-art-of-joomla.html http://eddify.me

# Post redirects

Redirect 301 /18-platform/71-logging-with-jlog.html http://eddify.me/posts/logging-in-joomla-with-jlog.html
Redirect 301 /schedule/2-uncategorised/72-ipad-test.html http://eddify.me

Redirect 301 /developing-extensions.html http://eddify.me/categories/joomla-development.html
Redirect 301 /developing-extensions/unit-introduction.html http://eddify.me/posts/joomla-development-101-introduction.html
Redirect 301 /developing-extensions/unit-introduction.html http://eddify.me/posts/joomla-development-102-development-tools.html
Redirect 301 /developing-extensions/coding-styles-docblocks-and-code-comments.html http://eddify.me/posts/joomla-development-103-coding-styles-docblocks-and-code-comments.html
Redirect 301 /developing-extensions/setting-up-your-joomla-site-for-debugging.html http://eddify.me/posts/joomla-development-104-setting-up-your-joomla-site-for-debugging.html
Redirect 301 /developing-extensions/installing-snippets-in-eclipse.html http://eddify.me/posts/joomla-development-105-installing-snippets-in-eclipse.html

Redirect 301 /building-components.html http://eddify.me/categories/joomla-development.html
Redirect 301 /building-components/hello-world.html http://eddify.me/posts/joomla-development-201-hello-world.html
Redirect 301 /building-components/introducing-mvc.html http://eddify.me/posts/joomla-development-202-introducing-mvc.html
Redirect 301 /building-components/adding-mvc-to-hello-world.html http://eddify.me/posts/joomla-development-203-adding-mvc-to-hello-world.html
Redirect 301 /building-components/adding-a-toolbar.html http://eddify.me/posts/joomla-development-204-adding-a-toolbar.html
Redirect 301 /building-components/adding-component-access-controls-part-1.html http://eddify.me/posts/joomla-development-205-adding-component-access-controls-part-1.html
Redirect 301 /building-components/adding-component-access-controls-part-2.html http://eddify.me/posts/joomla-development-206-adding-component-access-controls-part-2.html
Redirect 301 /building-components/planning-the-database-schema.html http://eddify.me/posts/joomla-development-207-planning-the-database-schema.html
Redirect 301 /building-components/creating-the-database-table.html http://eddify.me/posts/joomla-development-208-creating-the-database-table.html
Redirect 301 /building-components/adding-the-table-class.html http://eddify.me/posts/joomla-development-209-adding-the-table-class.html
Redirect 301 /building-components/adding-a-list-view-to-hello-world.html http://eddify.me/posts/joomla-development-210-adding-a-list-view-to-hello-world.html
Redirect 301 /building-components/adding-the-model-to-the-list-view.html http://eddify.me/posts/joomla-development-211-adding-the-model-to-the-list-view.html
Redirect 301 /building-components/adding-the-layout-to-the-list-view.html http://eddify.me/posts/joomla-development-212-adding-the-layout-to-the-list-view.html
Redirect 301 /building-components/adding-filters-to-the-list-view.html http://eddify.me/posts/joomla-development-213-adding-filters-to-the-list-view.html
Redirect 301 /building-components/adding-filters-to-the-list-model.html http://eddify.me/posts/joomla-development-214-adding-filters-to-the-list-model.html
Redirect 301 /building-components/adding-a-list-sub-controller-for-the-list-view.html http://eddify.me/posts/joomla-development-215-adding-a-list-sub-controller-for-the-list-view.html
Redirect 301 /building-components/securing-the-ordering-columns-in-the-list-view.html http://eddify.me/posts/joomla-development-216-securing-the-ordering-columns-in-the-list-view.html
Redirect 301 /building-components/backend-edit-form-introduction-and-adding-an-item-sub-controller.html http://eddify.me/posts/joomla-development-217-backend-edit-form-introduction-and-adding-an-item-sub-controller.html

Redirect 301 /version-15-development/tutorials.html http://eddify.me/categories/joomla-development.html

Redirect 301 /building-sites.html http://eddify.me/categories/joomla.html

Redirect 301 /building-templates.html http://eddify.me/categories/joomla-templates.html
Redirect 301 /building-templates.html?limitstart=0 http://eddify.me/categories/joomla-templates.html
Redirect 301 /building-templates.html?limitstart=10 http://eddify.me/categories/joomla-templates.html
Redirect 301 /building-templates/starting-a-template.html http://eddify.me/posts/joomla-templates-101-starting-a-template.html
Redirect 301 /building-templates/the-master-template-file.html http://eddify.me/posts/joomla-templates-102-the-master-template-file.html
Redirect 301 /building-templates/the-system-template.html http://eddify.me/posts/joomla-templates-103-the-system-template.html
Redirect 301 /building-templates/the-popup-template-file.html http://eddify.me/posts/joomla-templates-104-the-popup-template-file.html
Redirect 301 /building-templates/the-template-xml-file.html http://eddify.me/posts/joomla-templates-105-the-template-xml-file.html
Redirect 301 /building-templates/the-template-language-file.html http://eddify.me/posts/joomla-templates-106-the-template-language-file.html
Redirect 301 /building-templates/using-template-parameters.html http://eddify.me/posts/joomla-templates-107-using-template-parameters.html
Redirect 301 /building-templates/mvc-for-template-designers.html http://eddify.me/posts/joomla-templates-108-mvc-for-template-designers.html
Redirect 301 /building-templates/component-layout-overrides.html http://eddify.me/posts/joomla-templates-109-component-layout-overrides.html
Redirect 301 /building-templates/module-layout-overrides.html http://eddify.me/posts/joomla-templates-110-module-layout-overrides.html
Redirect 301 /building-templates/module-chrome.html http://eddify.me/posts/joomla-templates-111-module-chrome.html
Redirect 301 /building-templates/pagination-link-overrides.html http://eddify.me/posts/joomla-templates-112-pagination-link-overrides.html
Redirect 301 /building-templates/customising-the-error-page.html http://eddify.me/posts/joomla-templates-113-customising-the-error-page.html
Redirect 301 /building-templates/customising-the-offline-page.html http://eddify.me/posts/joomla-templates-114-customising-the-offline-page.html

Redirect 301 /building-sites/a-guide-to-joomla-3-protostar-template.html http://eddify.me/posts/a-guide-to-joomla-3-protostar-template.html
Redirect 301 /building-sites/using-the-joomla-load-module-plugin.html http://eddify.me/posts/using-the-joomla-load-module-plugin.html


## Begin - Rewrite rules to block out some common exploits.
# If you experience problems on your site block out the operations listed below
# This attempts to block the most common type of exploit `attempts` to Joomla!
#
# Block out any script trying to base64_encode data within the URL.
RewriteCond %{QUERY_STRING} base64_encode.*\(.*\) [OR]
# Block out any script that includes a <script> tag in URL.
RewriteCond %{QUERY_STRING} (\<|%3C).*script.*(\>|%3E) [NC,OR]
# Block out any script trying to set a PHP GLOBALS variable via URL.
RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
# Block out any script trying to modify a _REQUEST variable via URL.
RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
# Send all blocked request to homepage with 403 Forbidden error!
RewriteRule ^(.*)$ index.php [F,L]
#
## End - Rewrite rules to block out some common exploits.

##
# Uncomment following line if your webserver's URL
# is not directly related to physical file paths.
# Update Your Joomla! Directory (just / for root).
##

# RewriteBase /

## Begin - Joomla! core SEF Section.
#
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/index.php
RewriteCond %{REQUEST_URI} (/component/) [OR]
RewriteCond %{REQUEST_URI} (/|\.php|\.html|\.htm|\.feed|\.pdf|\.raw|/[^.]*)$  [NC]
RewriteRule (.*) index.php
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
#
## End - Joomla! core SEF Section.
