---
layout: default
---
<section>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- 728x90 Image only -->
	<ins class="adsbygoogle"
		 style="display:inline-block;width:728px;height:90px"
		 data-ad-client="ca-pub-3607824827064075"
		 data-ad-slot="2612482798"></ins>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
	</script>

    <h2>{{ page.title }}</h2>

    <p class="meta">{{ page.date | date_to_string }}
    </p>
    <div>
    <!-- Place this tag where you want the +1 button to render. -->
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="AndrewEddie">Tweet</a>
    <div class="g-plusone" data-annotation="inline" data-width="300" data-size="medium"></div>
    </div>

    <div class="post">
        {{ content }}
    </div>
</section>
